<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=980, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Search</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <main class="box">
      <h1>Type in the name of a book and we'll get you it's cover!</h1>
      <%= yield %>
    </main>
  </div>
</body>
</html>