<h1>Rock Paper Scissors</h1>
<!-- Create a route that goes from /games/rock_paper_scissors/:throw to games#rock_paper_scissors_play
Use params[:throw] as a user's choice
Compare the 2! If users throw matches the apps throw, the user wins.
i.e. If a user throws rock http://localhost:3000/games/rock_paper_scissors/rock and the server picks rock player wins! (Yes, I know that is not how RPS works) Bonus: Set the win or lose condition based on the real rules of Rock Paper Scissors. -->
<div class="questions">
  <h1>Select a move from below to play!</h1>
<form action="/rock_paper_scissors/result">
<button value="rock" name="guess">Rock</button>
<button value="paper" name="guess">Paper</button>
<button value="scissors" name="guess">Scissors</button>
</form>
</div>
