<h1>Rock Paper Scissors</h1>

<div class="questions">
  <div class="answer">
<h2>You: <%= params[:guess]%> </h2>
  <h2>Opponent: <%= @opponent%></h2>
</div>
  <div class="result">
<% if @opponent == @value %>
  <p>It's a tie</p>
  <% elsif (@opponent == "scissors" && @value = "rock") || (@opponent == "rock" && @value == "paper") || (@opponent == "paper" && @value == "scissors")%>
  <p> You win!</p>
  <% else%>
  <p>You lose</p>
<% end %>
</div>
<form action="/rock_paper_scissors"><button>Play Again </button></form>

</div>
<!-- 1 = rock 2 = paper 3 = scissor -->
<!--
winning move

value = 1 opponent= 3
value = 2 opponent=1
value = 3 opponent = 2 -->
