
<form class="entry_form" action="/details" method="post">
  <label >Make : </label>
  <input type="text" name="make" placeholder="e.g. VW">
  <label >Model : </label>
  <input type="text" name="model" placeholder="e.g. Golf">
  <label >hp : </label>
  <input type="text" name="hp" placeholder="e.g. 200">
  <label >Image url : </label>
  <input type="url" name="image" placeholder="">

  <button type="submit">Submit</button>

</form>
