header {
  height: 10vw;
  background-color: Black;
  color: red;
  text-align: center;
  width: 100%;
  font-size: 2vw;

}

header h1 {
    margin-top: 0;
}

header a {
  color: white;
  font-size: 2vw;
}


main {
  background-color: #6fa6b8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


body {
  margin: 0;
}

.car_info {
  font-size: 2vw;
  display: inline-block;
  height: 40vw;
  width: 20vw;
  background-color: #b6d7ac;
  padding: 1vw;
  border: 1px solid grey;
  align-items: center;

}

.car_info img {
  width: 20vw;
  height: 20vw;
}

.car_info a {
  font-size: 1.5vw;
  color: blue;
}


.entry_form {
  background-color: #20b552;
  height: 7vw;
  line-height:5vw;
  width: 100%;
  padding: 10px 5px;
}
