<h1>Wellcome to Magic 8!!!</h1>

<form class="" action="/magic/answer" >
  <label>TYPE ANY WORLD:</label>
  <input type="text" name="name" placeholder="Ask a question" required autofocus>
<button>Create</button>



</form>
