<h1>Guess the Number</h1>
<!-- Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view. -->





<div class="square">
  <h2>Can you guess the number? Select one below!</h2>
<form action="/number/result">
<button class= "button" value="1" name="guess">1</button>
<button class= "button" value="2" name="guess">2</button>
<button class= "button" value="3" name= "guess">3</button>
<button class= "button" value="4" name="guess">4</button>
<button class= "button" value="5" name="guess">5</button>
<button class= "button" value="6" name="guess">6</button>
<button class= "button" value="7" name="guess">7</button>
<button class= "button" value="8" name="guess">8</button>
<button class= "button" value="9" name="guess">9</button>
<button class= "button" value="10" name="guess">10</button>
</form>
</div>
