<h1>Secret Number</h1>


<div class="questions">
  <div class="answer">
<h2>  Your Guess: <%= @button_value %></h2>
  <h2>Correct Answer: <%= @random_number %></h2>
  </div>
  <div class="result">
<% if @button_value == @random_number %>
  <p>You have won!</p>
<% else %>
  <p>You have lost!</p>
<% end %>
</div>
<form action="/number"><button>Play Again </button></form>
</div>
