@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {
  font-family: Lato, sans-serif;
}

.container {
  margin: auto;
  max-width: 960px;
  border: 2px solid saddleBrown;
  background-color: beige;
  /* max-width: 960px; */
}

img.logo {
  border-radius: 50%;
  width: 150px;
  margin: 10px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  color: darkGreen;
}

footer {
  padding: 2rem;
  background-color: lightSalmon;
  text-align: center;
  font-size: 0.8rem;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.nav a {
  text-decoration: none;
  padding: 1.5rem;
  display: inline-block;
  color: darkGreen;
  font-size: 1.1rem;
  margin-top: 35px;
  ;
}

.nav {
  text-align: center;
  background-color: lightSalmon;
  min-height: 150px;
  /* https://www.colorhexa.com/ff9999 */
}

h2 {
  color: darkGreen;
}

p {
  padding-right: 15px;
}

.logo {
  margin-right: 2rem;
  border: 3px solid black;
}