<form action="/colours/<%= @colour['id'] %>" method = "post">
  <label>Colour Name: </label>
  <input type="text" name="name" placeholder="colour name" required autofocus>
  <label>Image Link: </label>
  <input type="url" name="image" placeholder="http://...">
  <button>Update</button>

</form>
