<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fruits</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/fruits">All Fruits</a>
      <a href="/fruits/new">New Fruit</a>
      |
      <a href="/colours">All Colours</a>
      <a href="/colours/new">New Colour</a>
    </nav>

    <div class="container">
      <%= yield %>

    </div>
  </body>
</html>
