<div class="subtitle">
   <h1>All Drinks</h1>
</div>

<% @drink.each do |drink| %>
<div class="content">
   <p>
    <a href="/drinks/<%= drink["id"] %>">
      <%= drink["name"] %>
    </a>
  </p>
</div>
<% end %>
