<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A compendium of writers and literature</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <span class="menu"></span>

      <div class="overlay">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/writers">Writers</a>
          </li>
          <li>
            <a href="/writers/new">New writers</a>
          </li>
          <li>
            <a href="/drinks">Drinks</a>
          </li>
          <li>
            <a href="/drinks/new">New Drinks</a>
          </li>
        </ul>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
