<div class="subtitle">
   <h1>All Writers</h1>
</div>

<% @writers.each do |writer| %>
<div class="content">
  <p>
    <a href="/writers/<%= writer["id"] %>">
      <%= writer["name"] %>
    </a>
  </p>
</div>
<% end %>
