<div class="subtitle">
    <h1>Add a Writer</h1>
</div>

<form action="/writers" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Writer's name" required autofocus>
  <label>Life:</label>
  <input type="text" name="Life" placeholder="Life span" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <label>Favourite Drink:</label>
  <select name="drink_id">
    <!-- Let the user choose an associated drink from all the drinks in db -->
    <option></option>
    <% Drink.all.each do |drink| %>
      <option value="<%= drink.id %>"><%= drink.name %></option>
    <% end %>
  </select>

  <button class="btn">Create</button>
</form>
