<h1>Welcome to Games on Rails</h1>
<h2>Do you want to play a game?</h2>
<ul>
  <li><a href="/magic8">Magic 8 Ball</a></li>
  <li><a href="/secret_n">Secret Number</a></li>
  <li><a href="/rps">Rock Paper Scissors</a></li>
</ul>