@import url('https://fonts.googleapis.com/css?family=Bangers');

header {
  background-color: #edc228;
  font-family: 'Bangers', cursive;
  height: 13vh;
  text-align: center;

}
header h1 {

  font-size: 3vw;
}

header a {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.8vw;
}



footer {
  height: 5vh;
  background-color: black;
  color: white;

}


.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {

  min-width: 100vw;
  min-height: 100vh;

}

.movieItem {
  display: flex;
  width: 30vw;
  height: 20vw;
  border: 1px solid black;
  margin-top: 1vw;
  box-sizing: border-box;
}

.movieImage img {
  width: 12vw;
  height: 20vw;
  box-sizing: border-box;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 20vw;
  font-size: 1.2vw;
  padding: .5vw;
  box-sizing: border-box;
}

.movieInfo p {
  margin: .5vw;
}

.controls {
  justify-content: flex-end;
  display: flex;

}

.controls button {
  font-size: 1vw;
  display: inline-block;
  background-color: blue;
  color: white;
}

.new_entry {
  display: flex;
  flex-direction: column;
  line-height: 2.5vw;
  width: 30vw;
  margin: 0 auto;
}

.lists {
  width: 30vw;
}
