<h1>Rock Paper Scissors</h1>

<form action="/rock/answer">
  <label>Rock Paper Scissors: </label>
  <input type="text" name="hand" required placeholder="rock / paper / scissors">

  <button>Match?</button>

</form>
