/* {
 border: lime solid 1px;
}*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

h1 {
  color: 222;
  font-family: 'Inconsolata', monospace;
  font-weight: lighter;
  text-align:center;
  margin: 0 0;

}
body {
    line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;

}

  img {
    width:35%; /* you can use % */
    height: auto;
    display: block; /*for the img inside your div */
    margin: 0 auto;
}
