/* * {
  border: 1px solid red;
} */
/* font-family: 'Tajawal', sans-serif;
font-family: 'Anton', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Anton|Oxygen|Tajawal');

.container {
  background-color: #DCD0C0;
  border-radius: 20px;
}

nav h1 {
  font-size: 32px;
  padding: 20px;
}

body {
  background-color: #373737;
  width: 960px;
  text-align: center;
  margin: auto;
  font-family: 'Tajawal', sans-serif;
}

nav {
  background-color: #C0B283;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

nav li {
  text-decoration: none;
  display: inline;
  padding: 10px;
}

nav ul {
  text-align: right;
}

nav a {
  text-decoration: none;
  color: #373737;
  font-weight: bold;
  font-size: 20px;
}

h1, h2, h3 {
  font-family: 'Oxygen', sans-serif;
}

main img {
  float: left;
  width: 25%;
  padding: 0 20px;
}

.flex {
  display: flex;
  flex: 1;
}

main {
  order:1;
  width: 75%;
}

aside {
  order: 2;
  width: 25%;
}

p {
  line-height: 1.5;
}

aside img {
  width: 85%;
}

.hidden {
  visibility: hidden;
  min-width: 200px;
}

.hidden:hover {
  visibility: visible;
}

iframe {
  padding: 25px;
}

.hometownAside{
  padding: 25px;
}
