<h1>Shelley's List of Completed Video Games</h1>

<div class="purpleblock">
<p>Add my steam: sheffey</p>
<p>Add my battlenet: BonanaQueen#2991</p>
<p>Add my PSN: BonanaQueen</p>
</div>

<img class="feature" src="../images/pokemonyellow.jpg" alt="pikachu" />
