<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shelley's List of Completed Video Games</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/videogames">Complete List</a>
        <a href="/videogames/new">New Game</a>
      </nav>

<%=yield%>

    </div>
  </body>
</html>
