<h1>Edit Video Game</h1>

<form action="/videogames/<%= @videogame['id'] %>" method="post">
  <label>Name: </label>
  <input type="text" name="name" placeholder="Counter Strike" required autofocus>
  <label>Times Completed: </label>
  <input type="integer" name="completed" placeholder="5" required>
  <label>Image: </label>
  <input type="url" name="image" placeholder="http://...">

  <button>Update</button>
</form>
