<h1>The Games Library</h1>
<% @games.each do |game|%>
  <div class="gametile">
  <h3 class="col-span2"><%= game['title']%></h3>
  <img src="<%= game['art']%>" >
  <p><%= game['blurb']%></p>
  <span class="col-span2"><a class="abutton" href="/games/<%= game['id']%>">View</a></span>
  </div>
<% end %>