<h1>New Game Entry</h1>
<form action="/games" method="post">
  <label for="title"></label>
  <input type="text" id="title" name="title" />
  <label for="genre"></label>
  <input type="text" id="genre" name="genre" />
  <label for="blurb"></label>
  <input type="text" id="blurb" name="blurb" />
  <label for="art"></label>
  <input type="url" id="art" name="art" />
  <button class="abutton">Create Record</button>
</form>