<h1>New Game Entry</h1>
<form action="/games" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" />
  <label for="genre">Genre:</label>
  <input type="text" id="genre" name="genre" />
  <label for="blurb">About:</label>
  <input type="text" id="blurb" name="blurb" />
  <label for="art">Image:</label>
  <input type="url" id="art" name="art" />
  <button class="abutton">Create Record</button>
</form>