<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=980, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Games Library Online</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/games">Games Library</a>
        <a href="/games/new">Create Game</a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      &copy; 2018 Tim Caldwell
    </footer>
  </div>
</body>
</html>