


<div class='title'>
  <h1>CACTI</h1>
</div>

<div class="container">

<% @cacti.each do |cacti|%>
<div class="box">


  <a href="/cacti/<%= cacti[0]%>"><%=cacti['name']%></a>
  <img src="<%= cacti['image']%>">
</div>

<% end %>
</div>
</div>
