<!DOCTYPE html>
<html lang='en' dir='ltr'>
<head>
  <title>Cacti</title>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/cacti">List</a>
  </nav>
<div class="container1">

    <%= yield %>
</div>



</body>
</html>
