<h1>Records are always a Sound Purchase</h1>
<p>Keep track of all your sick beats</p>

<div class='c1'>
  <img src="/images/catalogue.jpg" />
  <button><a href="records_index.erb"</a>View Collection</button>
</div>
<div class='c2'>
  <img src="/images/neednew.jpg" />
  <button><a href="records_new.erb"</a>Add a freshy</button>
</div>
