<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Sound Purchases</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/records">Current Bangers</a>
        <a href="/records/new">Add a freshy</a>
      </nav>
    
      <%= yield %>
    </div>
  </body>
</html>
