<h1 class="new">Drop the Needle on a New One</h1>

<form action="/records" method="post">

<div class="formdiv">
  <label>Artist:</label>
  <input type="text" name="artist" placeholder="Artist Name" required autofocus>
<!-- </div> -->

<!-- <div class="record_name"> -->
  <label>Record Title:</label>
  <input type="text" name="record_name" placeholder="Record Title" required>
<!-- </div> -->

<!-- <div class="record_specs"> -->
  <label>Edition Deets:</label>
  <input type="text" name="record_specs" placeholder="LTD, STD, 180g etc..">
<!-- </div> -->

<!-- <div class="pressing_year"> -->
  <label>Release Year:</label>
  <input type="integer" name="pressing_year" placeholder="2018">
<!-- </div> -->

<!-- <div class="imagediv"> -->
  <label>Image:</label>
  <input type="url" name="image" placeholder="https://...">


  <button>Add it!</button>
</div>
</form>
