<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book I</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">

      <h1>Welcome to Your Very Own Book Search</h1>

      <%= yield %>

    </div>

  </body>
</html>
