<p>Please enter the book title you wish to search</p>

<form class="" action="/result">
  <label>Book Title: </label>
  <input type="text" name="book" placeholder="Jaws">
  <button>Search</button>

</form>
