<h1>Add New Developer</h1>

<form action="/developers" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Developer" required autofocus>
  <label>Headquarters:</label>
  <input type="text" name="genre" placeholder="Headquarters" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <button>Create</button>
</form>
