<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Video Games</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/videogames">Complete List of Video Games</a>
        <a href="/videogames/new">New Game</a>
        |
        <a href="/developers">Complete List of Developers</a>
        <a href="/developers/new">New Developer</a>
      </nav>

      <%= yield %> <!--this method will grab the contents of the file requested e.g. erb :post and inserts it into the layout-->
    </div>
  </body>
</html>

<!--layout.erb rendered everytime Sinatra sees erb :layout.erb and contains everything that is common on every page.-->
