<h1>Add New Video Game</h1>


<div class="block">
<form action="/videogames" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Video game" required autofocus>
  <label>Genre:</label>
  <input type="text" name="genre" placeholder="Genre" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">
  <label>Developer:</label>
  <select name="developer_id">
    <!-- user can select from a drop down all developers currently saved in DB -->
    <option></option>
    <% Developer.all.each do |developer| %>
      <option value="<%= developer.id %>"><%= developer.name %></option>
    <% end %>
  </select>

  <button>Create</button>
</form>
</div>
