<h1>Video Games</h1>

<div class="block">
<% @videogames.each do |videogame| %>
  <p>
    <a href="/videogames/<%= videogame["id"] %>">
      <%= videogame["name"] %>
    </a>
  </p>
<% end %>
</div>
