@import url('https://fonts.googleapis.com/css?family=Rubik:900');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Rubik:900');

.space {
  padding: 50px;
  border-radius: 25%; 
}

body {
  background-color: #5bc5ac;
  text-align: center;
}

h1 {
  text-align: center;
  background-color: #f189da;
  font-family: 'Rubik', sans-serif;
}

label {
  font-family: 'Rubik', sans-serif;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.container {
  max-width: 960px;
  margin:auto;
  background-color: #98dbc6;
  padding: 1em
}

p {
  font-family: 'Rubik', sans-serif;
  font-family: 'Encode Sans Condensed', sans-serif;
}

button {
  color: black;
  text-transform: uppercase;
  background: #f189da;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-family: 'Encode Sans Condensed', sans-serif;
}
