<div class='row'>
  <div>
    <p class="text">
      <%= @task %>
    </p>
  </div>
</div>

<div class='row'>
  <ul class="buttons">
    <li>
      <a class="done btn-large btn-primary" href="/<%= @next %>">Done</a>
    </li>
  </ul>
</div>
    
