@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  background: url("https://www.hdcarwallpapers.com/walls/super_sports_cars-HD.jpg");
  color: white;
  font-family:  'Anton', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

nav  {
  text-align: right;

}

nav a {
  color:rgb(238, 157, 82);
  font-size: 25px;
  text-decoration: none;

}

h1 {
  text-align: center;
  color:white;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
