@import url('https://fonts.googleapis.com/css?family=Audiowide|Fjalla+One');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
  background: url(/assets/cloud_bg.png), linear-gradient(#0068f3, #0099f3 80%, #7cccfb);
  color: white;
  background-position: center;
}


.container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 3em auto 3em;
}

header {
  // background-color: white;
  overflow: hidden;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 3em;
  text-align: center;
}

header li {
  display: inline-block;
  
}

header a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: .5em 2em;
  margin: .25em;
  background-color: rgba(255,255,255,.5);
  border-radius: .5em;
}

span {
  text-align: center;
  width: 100%;
  display: inline-block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
table {
  margin-bottom: 1em;
}

td {
  padding: .5em;
  text-align: center;
  font-family: 'Audiowide', cursive;
}

thead td {
  font-weight: bolder;
  color: white;
  border-bottom: 1px solid grey;
  margin: 0;
  margin-bottom: .25em;
}

tbody {
  font-weight: 300;
}

.mountainbg {
  position: fixed;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 100vh solid #68696aed;
  align-self: center;
}

.index {
  height: calc( (var(--tallest) - var(--shortest)) * 0.25em + 10em);
  background: repeating-linear-gradient(transparent, transparent 24em, black 20px, black calc(24em + 2px));
  position: relative;
  border-left: 1px solid black;
  left: -14em;
}

.index li {
  display: flex;
  width: 20em;
  margin-bottom: .5em;
  background-color: rgba(255,255,255,.25);
  border-radius: .25em;
  position: absolute;
  top: calc( var(--summit) * 0.25em);
  padding: .25em 2em;
  text-align: center;
   animation: move .5s ease-in-out;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes move {
  from {
    top: calc( var(--summit) * 0.25em - 4em);
    opacity: 0;
  }
  to {
    top: calc( var(--summit) * 0.25em);
    opacity: 1;
  }
}

.index li:before { 
    content: "";
    display: inline-block;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/79/Mountain_icon_%28Noun_Project%29.svg');
    background-size: cover;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5em;
}

.index a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  text-shadow: .1em .1em .1em rgba(0,0,0,0.25)
}

.index a:hover {
  color: goldenrod;
}

.index a:visited {
  color: gold;
}

.newline {
  display:block;
  font-family: 'Audiowide', cursive;
}

.feature {
  width: 100%;
  display: block;
}

.card {
  display: grid;
  overflow: hidden;
  box-sizing: border-box;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header header" "map map";
  grid-row-gap: .1em;
  font-size: 1.5vw;
  max-width: 960px;
  width: 90vw;
  margin: auto // centers on the page horizontally and vertically since parent is flex;
  // grid-gap: 1em;
}

@media (min-width: 1000px) {
  .card {
    font-size: 1em;
  }
}

.mount_img, .mount_info {
  // grid-column: span 2;
  grid-area: header;
}

.mount_info {
  color: white;
  text-shadow: 0 0 .25em rgba(0,0,0,.5);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 2em;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: .5em;
  text-align: right;
  background: linear-gradient(67.5deg, transparent, transparent 65%, rgba(0,0,0,.25) 65.9%, rgba(255,255,255,.5) 66%, rgba(255,255,255,.5));
  animation: slide .75s linear;
}

@keyframes slide {
  0% {
    margin-left: 50%
  }
  100% {
    margin-left: 0;
  }
}

.mount_info p, .mount_info h1 {
  margin: 0;
}

.map {
  grid-area: map;
  width: 100%;
  // height: 30vh;
}

.map iframe {
  width: 100%;
  height: 100%;
}


.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  // color: white;
}

.controls a {
  color: white;
  font-size: 1em;
}

.sml {
  display: block;
  font-size: .75em;
  text-align: right;
  color: whitesmoke;
}

footer {
  background: linear-gradient(#43701a, #5a6245);
  text-align: center;
  box-shadow: 0 -5px 10px #43701a;
  line-height: 3em;
}