/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  font-size: 12px;
  line-height: 17px;
  color: #656565;
  font-family: "Times New Roman", serif
}

#container {
  margin: 0 auto;
  width: 70%;
}

/* img {
  width: 70%;
} */

h2 {
  text-align: center;
}

p {
  margin: 0 auto;
  width: 100%;
}