<form action= "<%= mountains_create_path  %>" method="post">
  <label >Mountain Name : </label>
  <input type="text" name="name" required autofocus>
  <label >Altitude : </label>
  <input type="number" name="elevation" >
  <label >Prominence : </label>
  <input type="number" name="prominence" >
  <label >Image url : </label>
  <input type="text" name="image" >
  <label >Interesting facts : </label>
  <input type="text" name="funfact" >

  <button> Add to database </button>
</form>
