<h1>Movies Collection</h1>

<div class="container1">

<% @movies.each do |movie| %>
  <div class="box">

    <a href="/movies/<%= movie["id"] %>">
      <%= movie["name"] %>
    </a>
    <img class ="all_image" src="<%= movie['image'] %>" />

    </div>

<% end %>
