<h1>New Movie </h1>

<form class="/movies" method="post">
  <label>Name: </label>
  <input type="text" name="name" placeholder="Movie Name" required autofocus>

</br>
  <label>Genre: </label>
  <input type="text" name="genre" placeholder="Genre" required>

</br>

  <label>Movie Poster: </label>
  <input type="url" name="image" placeholder="http://...">

</br>

<label>Director:</label>
<select name="director_id">
  <option></option>

  <% Director.all.each do |director| %>
    <option value = "<%= director.id%>" >
    <%= director.name %>
    </option>
  <% end %>
</select>

</br>
  <button>Create</button>

</form>
