body {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.flickr-result {
  display: inline-block;
}

.flickr-result img {
  border-radius: .25em;
  border: 2px solid grey;
  transition: .25s border;
  margin: .25em;
  height: 150px;
  width: 150px;
}

.flickr-result img:hover {
  border: 2px solid white;
  height: calc(150px + .5em);
  width: calc(150px + .5em);
  margin: 0;
  margin-top: -0.25em;
}