<label>Rock Paper Scissors</label>

<form action="/rocks/info/">
<select name="throw">
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
</select>
<button>Start<button>
</form>
