<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Book Search Page</title>
  </head>
  <body>

    <div class="container">

      <h1>Book Search</h1>

        <%= yield %>
        
    </div>


      <footer>
        &copy; Copyright 2019 ALL RIGHTS RESERVED
      </footer>

  </body>
</html>
