ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    li {
        float: left;


     a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      &:hover {
        /* Change the link color to #111 (black) on hover */
          background-color: #111;
        }
    }

    }
}

.thumbnail {

  max-width: 8em;
}

.feature {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin-top: 4em;
  border-radius: 2em;
  box-shadow: 10px 10px rgba(#dadada, 0.7);
  
}

.btn {
  display: flex;
  justify-content: center;
  height: 4em;
  width: 10%;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: #333;
  color: #f0f1ed;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  a {
    text-decoration: none;
    color: #f0f1ed;
  }

  &:hover {

    background-color: rgba(#e3dbdc, 0.85);
    color: #333;

  }

}
