<div class="row">
  <div class="col">
    <h1>Eminem Albums</h1>
    <% @albums.each do |album| %>
    <p>
      <a href="/albums/<%= album["id"]%>">
        <%= album["name"]%>
      </a>
    </p>
    <% end %>
  </div>

</div>
