<div class="row">
  <div class="col">
    <h1 class="text-center">Eminem Albums</h1>
    <ul>


    <% @albums.each do |album| %>
  <li>
      <a class="text-dark"href="/albums/<%= album["id"]%>">
        <%= album["name"]%>
      </a>
    </li>
    <% end %>
      </ul>
  </div>

</div>
