<h1><% @models['makes'] %></h1>
<h2>Models: <%= @models['models']%></h2>
<

<% unless @models['image'].nil? %>
  <img class="feature" src="<%= @model['image'] %>" >
<% end %>

<div class="controls">
  <a href="/butterflies/<%= @butterfly['id']%>/edit">Edit</a>
  <a href="/butterflies/<%= @butterfly['id']%>/delete">Delete</a>
</div>
