<h1>New cars</h1>

<form action="/models" method="post">
  <label>Makes</label>
  <input type="text" name="makes"  placeholder="Makes" required autofocus>
  <label>Models</label>
  <input type="text" name="models"  placeholder="Models" required>
  <label>Year</label>
  <input type="integer" name="year" placeholder="Year" required>
  <label>Image</label>
  <input type="url" name="image"  placeholder="http://...">

  <button>Generate</button>

</form>
