<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Studnets</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/students">All Student</a>
        <a href="/students/new">New Student</a>
        |
       <a href="/unis">All University</a>
       <a href="/unis/new">New University</a>
      </nav>
      <%= yield %>
    </div>

  </body>
</html>
