<h1>New Students</h1>

<form action="/students" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Student name" required autofocus>
  <label>Family:</label>
  <input type="text" name="family" placeholder="Family name" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <label>University</label>
  <select name="uni_id">               

    <option></option>
    <% Uni.all.each do |uni| %>
      <option value="<%= uni.id %>"><%= uni.name %></option>
    <% end %>
  </select>

  <button>Create</button>
</form>
