<div>
  <h1>Three in one!</h1>
</div>
<div>
  <p>
    <a href="/magic_ball">Magic 8 Ball</a>
    <a href="/secret_number">Secret Number</a>
    <a href="/rock_paper_scissors">Rock Paper Scissors</a>
  </p>
</div>
