<h1>New addition to the Almanac</h1>

<form action="/almanac" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="cacti name" required autofocus>
  <label>Family:</label>
  <input type="text" name="family" placeholder="Family name" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <button class="btn">Add</button>
</form>
