<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cacti almanac</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
   <div class="container">
     <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/almanac">Almanac</a></li>
        <li><a href="/almanac/new">New addition</a></li>
      </ul>
     </nav>
       <%= yield %>
   </div>
  </body>
</html>
