<h1>Guess a Secret Number</h1>

<form action="/secret/answer">
  <label>Guess a number from 1 to 10:</label>
  <input type="text" name"guess" required placeholder="digit">

  <button>Hit Me</button>

</form>
