/* [Table Of Contents]

	01- BODY
	02- HEADERS
	03- GLOBAL STYLES
	04- MAIN CONTENT
	05- SOCIAL MEDIA
	06- MISC

/* body */

#wrapper {
  margin: 0 auto;
  max-width: 960px;
}

body {

  background-image: url("images/body.jpg");
  margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #7f7d78;
	font-size: 13px;
	line-height: 1.1;
	background: #FFF;

}

.socialmedia {
  position: absolute;
  clip: rect(60px,249px,249px,0px);

}

/* nav */

nav {
 background-color: black;
 padding: 30px;
}

nav ul li {
  display: inline;
  margin-right: 40px;
  color: #e6e6e6;
}

/* content */
/*
.topbox {
  background-color: #e6e6e6;
  padding: 500px;
} */
