@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-image: url(../img/bookshelfwide.jpg);
  font-family: 'Raleway', sans-serif;
}
h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
p {
  padding-bottom: 0.7em;
}

.container {
  box-sizing: border-box;
  background-color: rgba(0,0,0, 0.8);
  color: white;
  /* padding-top: 3.5em; */
  text-align: center;
  height: 65vh;
  margin-top: 25vh;
}

.bookimg {
  height: 40vh;
  box-shadow: 3px 3px 3px rgba(255, 241, 150, 0.6);
}
