<h1>Edit ocean</h1>

<form action="<%= ocean_path(@ocean.id) %>" method="post">
  <label>Name:</label>
  <input type="text" name="name" value="<%= @ocean.name %>" required>
  <label>Image url:</label>
  <input type="url" name="image_url" value="<%= @ocean.image_url %>">
  <label>average_depth:</label>
  <input type="number" name="average_depth" value="<%= @ocean.average_depth %>">
  <button>Update ocean</button>
</form>
