/*
Project Name: Ecard.ly
Client: General Assembly
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.content {
  width: 80%;
  height: 500px;
	margin: auto; /*centers our container on the page */
  background-color: white;
  padding: 20px;
}

.backgroundimg{

}

header {
  background-image: url('../images/background.jpg');
  background-repeat: repeat-x;
  padding-bottom: 30px;
  height: 250px;

}
.logo {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 15%;
}

.imgleft {
  float: left;
	margin: 0 10px 10px 0;
  width: 60%;
  height: 90%;
  min-width: 400px;
}
h1 {
  margin: 0px;
}


body {
  background-color: #d6d6d6
}

p {
  margin: 0px 0px 15px 0px;
	line-height: 1.7;
  font-size: 14px;
	 } /* there's no explicit rule, but putting about 15px margin only to the bottom of your p is generally a good rule of thumb */
