
<h1>Add an instrument to the repository</h1>

<form action="/instruments" method="post">
  <div class="name">
    <label>Instrument Name: </label>
    <input type="text" name="name" placeholder="Piano" required>
  </div>
  <div class="family">
    <label>Classification: </label>
    <input type="text" name="family" placeholder="String" required>
  </div>
  <div class="vid">
    <label>Video Example: </label>
    <input type="url" name="video" placeholder="http://...">
  </div>

  <button>Submit</button>
</form>
