
<h1>Add an instrument to the repository</h1>

<form action="/instruments" method="post">
  <label>Instrument Name: </label>
  <input type="text" name="name" placeholder="Piano" required>
  <label>Classification: </label>
  <input type="text" name="family" placeholder="String" required>
  <label>Video Example: </label>
  <input type="url" name="video" placeholder="http://...">
  <button>Submit</button>
</form>
