<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instrument Repository</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/instruments">All Instruments</a>
        <a href="/instruments/new">Submit Instruments</a>
      </nav>
      <%= yield %>

    </div>
  </body>
</html>
