<div class="newb">
  <h1>New Director</h1>

  <form action="/directors" method="post">
    <label>Name:</label>
    <input type="text" name="name" placeholder="Directors name" required autofocus>
    <label>Film:</label>
    <input type="text" name="film" placeholder="Film name" required>
    <label>Image:</label>
    <input type="url" name="image" placeholder="http://...">

    <button>Create</button>
  </form>
</div>
