<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Directors</title>
    <link rel="stylesheet" href="/css/master.css">
    <style>A {text-decoration: none; color : #474747;} </style>
  </head>
  <body>
          <nav class="stroke">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/directors">All Directors</a></li>
              <li><a href="/directors/new">New Director</a></li>
              <li><a href="https://www.imdb.com/">IMDB </a></li>
            </ul>
          </nav>

      <%= yield %>

  </body>
</html>
