body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight:100;
  color: #474747;

}

nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 0 0 0 0;
}


nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #848484;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #555;
}


nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #919191;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #023f1c;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.parent {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  margin: 10px;
  font-weight: 100;
}
h2 {
  margin: 10px;
  font-weight: 100;
}
/* .item1 {
  margin: 10;
}

.item2 {
  margin-top: 5px;
} */

.all {
  text-align: center;
}

.editorz {
  margin-top: 150px;
  text-align: center;
}

.newb {
  margin-top: 150px;
  text-align: center;
}

.feature {
  max-height: 700px;
}

button {
  text-decoration: none;
  color: #474747;
  font-weight: 800;
  margin: 0 10px;
  border: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
  background-color: #ffffff;
  cursor: pointer;
}

button:hover {
  color: #000000;
}

.item {
  text-align: center;
  opacity: 0.5;
}
