<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title> Book Search</title>
  </head>
  <body>
    <div class="container">

      <%= yield %>



        <footer>
          &copy; Copyright 2018 Misael M
        </footer>

    </div>
  </body>
</html>
