<h1>All Albums on Heavy Rotation</h1>

<% @albums.each do |album| %>
<p>
  <a class='catlinks' href="/albums/<%=album["id"] %>">
    <%=album["title"] %>
    <%unless album["image"].nil?%>
    <img class="hero" src="<%=album["image"]%>"/>
    <%end%>
  </a>

</p>
<%end %>



<!-- NOTE was trying to add small image instead of just hyperlink with name  -->
