<h1>All Albums on Heavy Rotation</h1>
<div class="topofindex">


  <% @albums.each do |album| %>
  <p>
    <a class='catlinks' href="/albums/<%=album["id"] %>">
      <%=album["title"] %><br></br>
      <%unless album["image"].nil?%>
      <img class="hero" src="<%=album["image"]%>"/>
      <%end%>
    </a>

  </p>
  <%end %>

</div>
