<div class="logo">
  <h1>Records are always a Sound Purchase</h1>
  <p>Keep track of all your sick beats and their creators!</p>
</div>

<!-- <div class="categories">

  <img src="/images/recordhome.jpg" />
  <button><a href="albums_index.erb"</a>View Albums</button>


  <img src="/images/amy.jpg" />
  <button><a href="artists_index.erb"</a>View Artists</button>

</div> -->

<footer>
<p>EJ Willard &copy;2018</p>

  <!-- BLACK SOCIALS -->
   <!-- <div class="blacksocials">
      <a href="https://ellijayne.github.io/project0/"><img class="blackicon githubicon" src="/images/githubblackgood.jpg" /></a>
      <a href="https://www.instagram.com/elli_jayne/"><img class="blackicon instaicon" src="/images/instablackgood.png" /></a>
      <a href="https://www.linkedin.com/in/elli-jayne-willard-8673b010b/"><img class="blackicon linkedinicon" src="/images/linkedinicon.png" /></a>
      <a href="https://twitter.com/elli_jayne"><img class="blackicon twittericon" src="/images/twittericon.svg" /></a>
  </div> -->

  <!-- WHITE SOCIALS -->
   <div class="whitesocials">
      <a href="https://ellijayne.github.io/project0/"><img class="whiteicon" id="githubicon" src="/images/githubwhitegood.png" /></a>
      <a href="https://www.instagram.com/elli_jayne/"><img class="whiteicon instaicon" src="/images/instawhitegood.png" /></a>
      <a href="https://www.linkedin.com/in/elli-jayne-willard-8673b010b/"><img class="whiteicon linkedinicon" src="/images/linkediniconwhite.png" /></a>
      <a href="https://twitter.com/elli_jayne"><img class="whiteicon twittericon" src="/images/twittericonwhite.png" /></a>
    </div>
</footer>
