<div class="logo">
  <h1>Records are always a Sound Purchase</h1>
  <p>Keep track of all your sick beats and their creators!</p>
</div>


<!-- <div class='c1'> NOTE maybe change this to display artists or albums?

  <img src="/images/catalogue.jpg" />
  <button><a href="records_index.erb"</a>View Collection</button>
</div>
<div class='c2'>
  <img src="/images/neednew.jpg" />
  <button><a href="records_new.erb"</a>Add a freshy</button>
</div> -->
<footer>
<p>EJ Willard &copy;2018</p>
 <div class="socials">
  <a href="https://ellijayne.github.io/project0/"><img class="blackicon githubicon" src="/images/githubicon.png" /></a>
  <a href="https://www.instagram.com/elli_jayne/"><img class="blackicon instaicon" src="/images/instaicon.png" /></a>
  <a href="https://www.linkedin.com/in/elli-jayne-willard-8673b010b/"><img class="blackicon linkedinicon" src="/images/linkedinicon.png" /></a>
  <a href="https://twitter.com/elli_jayne"><img class="blackicon twittericon" src="/images/twittericon.svg" /></a>
</div>
</footer>
