<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Sound Purchases</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        |
        <a href="/albums">Current Bangers</a>
        <a href="/albums/new">Add a freshy</a>
        |
        <a href="/artists">All Artists</a>
        <a href="/artists/new">Add a New Artist</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
