.container {
  width: 960px;
  margin: 0 auto;
}

body {
  background-image: url("../images/bg_body.jpg");
  font-family: "Segoe UI Semilight", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-image: url("../images/bg_wrapper.png");
  background-repeat:repeat-x;
}

.hero {
  margin: 0;
  display: block;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;

  height: 85px;

}

nav a {
  vertical-align: middle;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 33px 15px;
}

nav li:hover {
  background-image: url("../images/bg_nav_rollover.png");
  background-repeat: repeat-x;
}

.logo {
  margin: 16px 0;
}

.social {
  float: right;
}

.social ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;
	 text-indent:-9999em;
}

.social ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
.social ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

.social ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

.social ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}



.social ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

.social ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

.social ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

.social ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}


.blurb {
  border: 2px inset lightgrey;
  background-image: url("../bg_blurb.jpg");
  padding:16px;
}

.blurb img {
  float: right;
}

.blurb p {
  margin: 0;
  display: inline;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


.homebox {
  display: inline-block;
  width: 31%;
  padding: 4px;
}

.homebox img {
  padding: 1px;
  border: 3px solid lightgrey;
}

a {
  color: rgb(0,196,255);
  text-decoration: none;
}


footer {
  background-color: black;
  color: grey;
}

footer .widget {
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.metawidget {
  width: 30%
}

.blogroll {
  width: 25%
}

.textwidget {
  width: calc(95% - 33% - 25%);
  padding: 0 25px;
}

footer h3 {
  color: white;
  font-weight: normal;
  border-bottom: 1px solid dimgrey;
  padding-bottom: 10px;
  margin: 0;
  font-size: 18px;
}

footer li, footer ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  padding: 10px 0;
  border-bottom: 1px solid dimgrey
}

footer p {
  margin: 3px;
  color: dimgrey;
}


footer span {
  color: dimgrey;
  font-size: 10px;
  margin: 25px 0;
  display: inline-block;
}

.company {
  float: right;
}
