@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
  background-image: url("../images/recordshands.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family: 'Fjalla One', sans-serif;
  color: white;
}

.container {
  display: grid;
  grid-template-rows: 3em, auto, 3em;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  text-align: center;
  /* height: 25vh; */
}

nav {
    text-align: left;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 211, 211);
    border-bottom-width: 0.1px;
    padding-bottom: 0.8em;
    padding-top: 0.5em;

}

nav a {
  padding-left: 0.8em;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #8C5D4F;
  transition: 2s;
}

h1 {
  padding-top: 0.7em;
}

.hero {
  max-height: 35vh;
  border-radius: 4px;
}

.edlinks {
  color: white;
  text-decoration: none;
  padding: 0.35em;
}

.edlinks a:hover {
  color: #8C5D4F;
  transition: 2s;
}

.catlinks {
  color: white;
  text-decoration: none;
}

.new {
  padding-top:2em;
  padding-bottom: 1em;
}

.formdiv {
  display:inline-grid;
  grid-column: 1, auto;
  grid-auto-rows: 6;
  grid-row-gap: 1em;
}

.formdiv label {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.formdiv button {
  background-color: black;
  color: white;
  border-radius: 4px;
  height: 2.5em;
}

.formdiv input {
  background-color: lightgrey;
  border-radius: 4px;
  height: 2em;

}

.c1 img {
height: 25vh;
border-radius: 20%;
border-bottom: solid 2px rgba(255, 255, 255, 0.8);
border-right: solid 2px rgba(255, 255, 255, 0.8);
}

.c2 img {
  height: 25vh;
  border-radius: 20%;
  border-bottom: solid 2px rgba(255, 255, 255, 0.8);
  border-right: solid 2px rgba(255, 255, 255, 0.8);
  /* text-shadow: 2px, 2px, 2px rgba(0, 0, 0, 0.8); */
}

.c1 button, .c2 button {

background-color: black;
/* color: white; */
border-radius: 4px;
height: 2.5em;
}

.c1 a, .c2 a {
  text-decoration:  none;
  color: white;
}
