<h1>New Journey</h1>

<form class="" action="/caminos" method="post">
  <label>Day:</label>
  <input type="integer" name="day" value="<%= @camino['day'] %>" placeholder="Travel Day" required autofocus>

  <label>City:</label>
  <input type="text" name="city" value="<%= @camino['city'] %>" placeholder="City Name" required>

  <label>Image:</label>
  <input type="url" name="image" "<%= @camino['image'] %>" placeholder="http://..">

  <button>Create Your Journey</button>

</form>
