<h1>New Journey</h1>

<form action="/caminos" method="post">
  <label>Day:</label>
  <input type="integer" name="day" placeholder="Travel Day" required autofocus>

  <label>City:</label>
  <input type="text" name="city" placeholder="City Name" required>

  <label>Image</label>
  <input type="url" name="image" placeholder="http://..">

  <button>Create New Journey</button>

</form>
