<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Camino</title>
    <link rel="stylesheet" href="/css/master.css">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Monoton|Paytone+One|Varela+Round');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Chela+One|Lobster');
    </style>
  </head>
  <body>

    <div class="container">

      <nav>
        <a href="/">Home</a>
        <a href="/caminos">All Journey</a>
        <a href="/caminos/new">Add Journey</a>
      </nav>

        <%= yield%>

    </div>

  </body>
</html>
