<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Camino</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">

      <nav>
        <a href="/">Home</a>
        <a href="/caminos">All Journey</a>
        <a href="/caminos/new">Add Journey</a>
      </nav>

        <%= yield%>

    </div>

  </body>
</html>
