body {
  text-align: center;
  background-image: url(../img/books.jpg);
  color: white;
}

.container {
  max-width: 960px;
  background-color: rgba(50, 46, 52, 0.8);
  margin : auto;
}
h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

body img {
  display: block;
  margin: auto;
  height: 300px;
  width: 250px;
  margin-bottom: 10px;
}

form {
  padding: 50px;
  margin: 50px 200px;
}
