
<div><h1>This is magic 8 ball game!</h1></div>


<form action="/magic_ball/answers">
	<input class="user_input" type="text" method="get" name="question" placeholder="What is your question?" autofocus>
	<input type="submit" value="Submit Question">
</form>

<!-- <% if @question %>
	<p>You question is: <strong><%= @question %></strong></p>
	<p>Answer: <strong><%= @answers.sample %></strong></p>
<% end %> -->
