@import url('https://fonts.googleapis.com/css?family=Gaegu');
body {
  font-family: 'Gaegu', cursive;
  font-size: 1.2rem;
}

.container {
  background-color: lightBlue;
  /* min-height: 900px; */
}

h2 {
  font-size: 2rem;
}

form {
  /* width: 50%; */
  border: 1px solid black;
  border-radius: 10px;
}

/* footer {
  margin-top: 25%;
} */