@import url('https://fonts.googleapis.com/css?family=Chela+One|Press+Start+2P');

body {
  background-image: url("/images/arcade.jpg") ;
  background-size: cover;
  font-size: 25px;
  min-height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
}


a , p , h1 {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-family:'Chela One', cursive;
  padding: 10px;
  text-align: center;
  border: solid orange;
  border-radius: 20px;
  background-color: #347ae3;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color:#b92213;
  margin: 100px;
}

.container {
  text-align: right;
  margin: 20px;
}
