<div class="header">
  <h1>Home Page</h1>
</div>

<div class="squares">
  <img src="https://media2.giphy.com/media/l2QDZnitpsk54gsH6/200.gif" alt="8ball">
  <p class= "one">
  <a href="/ball">Magic 8 Ball</a>
  </p>

<img src="https://www.tiogadowns.com/wp-content/uploads/promos/racing/guess-the-number-small.jpg" alt="guess">
  <p class='two'>
  <a href="/number">Secret Number</a>
  </p>
<img src="https://www.esquireme.com/sites/default/files/styles/full_img/public/images/2017/05/29/rock_paper_scissors__2x.png?itok=jFv2T0kr">
  <p class='three'>
    <a href="/rock_paper_scissors">Rock Paper Scissors</a>
  </p>
</div>
