
body {
background-image: url(/img/instruments.jpg);
text-align: center;
}

.container {
  display: block;
  margin: 0 auto;
  width: 75%;
  background-color: rgba(1, 1, 1, 0.6);
  height: 75vh;
  border-radius: 1em;
  color:white;
}

.welcome {
  font-size: 20px;
}

nav {
  background-color: rgba(1, 1, 1, 0.64);
  height: 10vh;
  width: 100vw;
  display: block;
  margin: 0 auto;
}

nav a{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 20px 66px;

}

nav a:hover {
  border-radius: 1em;
  text-decoration: underline;
  background-color: grey;
}

.name, .family, .vid{
  display:block;
  padding: 20px;
}

.cartoon {
  height: 50vh;

}

.container a {
  text-decoration: none;
  color: white;
}

.container a:hover {
  text-decoration: underline;
  border-radius: 1em;
  text-align: left;
}
