<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title>Find details about books</title>
  </head>
  <body>

    <header>
      <h1>Find book details</h1>
      <nav>
        <a href="/">Home</a>
      </nav>
    </header>

    <main>
      <form action="/result" >

      <label > The book you are looking for: </label>
      <input type="text"  name="name" placeholder="name of the book">
      <button>Search</button>

      </form>

      <hr>
      <%= yield %>
    </main>

    <footer>
      This website is using Google books information database
    </footer>


  </body>
</html>
