body {
  background: pink;
}


.container {
  /* width: 900px;
  margin: 0 auto; */
  background: white;
}

.box {
  width: 100px;
  height: 100px;
  background: yellow;
  border: red solid 1px;
  position:absolute;

}

.row-0 {
  top: 0;
}
.row-1 {
  top: 100px;
}
.row-2 {
  top: 200px;
}
.row-3 {
  top: 300px;
}
.row-4 {
  top: 400px;
}
.row-5 {
  top: 500px;
}
.row-6 {
  top: 600px;
}
.row-7 {
  top: 700px;
}

.col-0 {
  left: 0;
}
.col-1 {
  left: 100px;
}
.col-2 {
  left: 200px;
}
.col-3 {
  left: 300px;
}
.col-4 {
  left: 400px;
}
.col-5 {
  left: 500px;
}
.col-6 {
  left: 600px;
}
.col-7 {
  left: 700px;
}
