<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Parrots</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/parrots">All Parrots</a>
        <a href="/parrots/new">New Parrot</a>
      </nav>
      <%= yield %>
    </div>

  </body>
</html>
