<h1>New Parrot</h1>

<form action="/parrots" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Parrot name" required autofocus>
  <label>Scientific Name:</label>
  <input type="text" name="Scientific name" placeholder="Scientific name" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <button>Create</button>
</form>
