body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  background-color: black;
}
.container {
  display: grid;
  grid-template-rows: 3em auto 3em;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  display: flex;
  justify-content: space-between; 
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header h1 {
  margin: .2em 0 0 .5em;
  padding: 0;
}

nav a {
  display: inline-block;
  background-color: red;
  padding: 1em;
  color: white;
  text-decoration: none;
}

footer {
  background-color: red;
  text-align: center;
  vertical-align: middle;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abutton {
  display: inline-block;
  background: linear-gradient(180deg, red, darkred);
  text-shadow: 0 0 2px rgba(0,0,0,1);
  padding: .5em;
  color: white;
  text-decoration: none;
  border-radius: .25em;
  margin: .25em;
}

.gametile {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgba(255,255,255,.1);
  min-width: 30em;
  max-width: 60em;
  padding: 1em;
}

.gametile h3 {
  margin: auto 1em 0 1em;
}

.gametile p {
  margin: auto 1em;
}

.gametile img {
  max-height: 300px;
}

.col-span2 {
  grid-column: span 2;
}

.row-span2 {
  grid-row: span 2;
}
.row-span3 {
  grid-row: span 3;
}

.gameview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
}