<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Books I</title>
  </head>
  <body>

    <h1>Books I</h1>
    <%= yield %>

  </body>
</html>
