<h1>Rock Paper Scissors</h1>

<form action="/rockpaperscissors/throw">
  <label>Enter your play</label>
  <input type="text" name="throw" required placeholder="rock">
  <button>Play!</button>
</form>
