@import url('https://fonts.googleapis.com/css?family=Gaegu');

body {
  font-family: 'Gaegu', cursive;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


nav {
  text-align: right;
  background-color: #94bbe9;
  font-size: 2vw;
}


a {
  color: black;
}

a:hover {
  color: white;
  background-color: #eeaeca;
}


.feature {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
