<h1>New country</h1>

<form action="/countries" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="country name" required autofocus>

  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <label> Drink:</label>
  <select name="drink_id">
    <!-- Let the user choose an associated plant from all the plants in db -->
    <option></option>
    <% Drink.all.each do |drink| %>
      <option value="<%= drink.id %>"><%= drink.name %></option>
    <% end %>
  </select>

  <button>Create</button>
</form>
