<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Book Shelf</title>
  </head>
  <body>

    <div class="container">
      <h1>Book Shelf</h1>
      <%= yield %>
    </div>

  </body>
</html>
