/* body {
  background-color: blue;
}
*/
@import url('https://fonts.googleapis.com/css?family=VT323');

body{
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  color:  green;
}

.container {
  max-width: 960px;
  margin: auto;
  background-color: #282828;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-color: #FFCC00;
}
nav {
  text-align: right;

}
nav a {
  color: black;
}



h1 {
  text-align: center;
  background-color: black;
  color: #ccc;
  padding: 1em;
  width: 14em;
  margin-left: 4em;
  border-radius: 0.5em;

}
main {
  display: inline-block;
  width: 75%;
}
main img {
  display: block;
  margin: auto;
  width: 717px;
}
aside {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  background-color: black;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 15 #222:
}
aside ul {
  padding-left: 17;
}

footer {
  text-align: center;
}
header {
  text-align: right;
}
