<h1>Edit Oceans</h1>
<form action="<%=ocean_path(@ocean.id)%>" method="post">
  <label>Name: </label>
  <input type="text" name="name" value= '<%= @ocean.name %>'>
  <labe>Image: </labe>
  <input type="text" name="image" value= '<%= @ocean.name %>'>
  <button>Enter</button>
</form>
