<h1>New Oceans</h1>
<form action="<%=oceans_path%>" method="post">
  <label>Name: </label>
  <input type="text" name="name">
  <labe>Image: </labe>
  <input type="text" name="image">
  <button>Enter</button>
</form>
