<h1>New Pizza</h1>

<form action="/pizzas" method="post">
  <label>Name:</label>
  <input type="text" name="name" required autofocus><br/>
  <label>Vegetarian:</label>
  <input type="checkbox" name="vegetarian"><br/>
  <label>Price:$</label>
  <input type="number" step="0.01" name="price" required><br/>
  <button>Create</button>
</form>
