
header {
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  font-size: 3vh;

  color: white;
  background-image: url("/img/header.jpg");
  height: 100px;
}

header a:visited {
  color: white;
}

main {
  height: 70vh;
  margin: 10px 0px;
}

footer {
  margin: 10px auto;

}

form {
  margin: 10px;
}

#result {
  margin: 10px auto;
}
