body {
	background: radial-gradient(#222, black);
}

#container {
	text-align:center;
	font-family: "Tahoma", "Verdana", "Helvetica", "Arial", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 100vw;
	min-height: 100vh;
}

.text {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
	color: white;
	padding: 1em 0 1em 0;
	animation: 
		swoop .5s ease-in;
		
}

/* The typing effect */
@keyframes swoop {
  from { 
		transform: skew(21deg, 21deg) rotate(180deg);
		font-size: .01rem;
		
	}
  to { 
		/* transform: skew(0, 0); */
	}
}

.buttons {
	margin-top: 30px;
	list-style: none;
}

.btn-large {
	margin: 0 15px;
}


