* {
  border: 1px solid red;
}


@import url('https://fonts.googleapis.com/css?family=Aldrich|IBM+Plex+Mono');
body {
   background-color: #dfe1ea;
/*  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBHfu4ojsjbGXStB22gAdHuDRRtobAAmTJ6X9oTD-YboilQoFZ');*/
background-size: 90%;
  margin: 0px;
  padding: 10px;
  font-family: 'Aldrich', sans-serif;

}
.container {
  width: 960px;
  margin: auto;
  background-color: #ccc;
  padding: 1em;
}
nav {
  text-align: right;
  font-size: 24px;
}
nav a {
  color: #646a7d;
  padding: 15px;
}
h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background-color: #87878e;
  color: black;
  padding: 10px;
  border-radius: 0.2em;
}
main {
  display: inline-block;
  width: 75%;
}
main img {
/*  display: block;  */
  margin: auto;
  height: 200px;
  border-radius: 0.2em;
}
aside {
  display: inline-block;
  width: 19%; /* 75% + 21% is about 100% */
  height: 251px;
  vertical-align: top;
  background-color: #b9bdd1;
  padding: 1em;
  border-radius: 0.3em;
  box-shadow: 0 0 15px #222;
}
.rob{
  padding-left: 33px;
  line-height: 45px;
  font-size:20px;
  }
  .rob a{
    color: black;
  }
  p{
    color: black;
    line-height: 25px;
  }
h2{
  font-size: 22px;
}
footer{
  font-size: : 20px;
  margin: 0px 42%;
}

#flip {
  transition: 2s all;
  min-height: 10em;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ7tJYBySaSGJetgOYz8Y5TodyKTIFDulJ2DQlK14adOGSJcPHBQ');
  width: 292px;
  margin: auto;
}
#flip:hover {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxPlRZtNhwZ6PvbUqsiAjvX5XNMAIHH6UpCNOpP3wvSOUIxqQC');
}











/*
.container1 {
  width: 960px;
  margin: auto;
  background-color: white;
  padding: 3em;
  border-radius: 0%;
}
.body1 {
   background-color: white;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBHfu4ojsjbGXStB22gAdHuDRRtobAAmTJ6X9oTD-YboilQoFZ');
background-size: 90%;
width: 60px;
  margin: 0px;
  padding: 0px;
  font-family: 'Aldrich', sans-serif;

}
.header1{
  font-size: 35px;
  text-align: center;
}

#left {
  display: inline-block;
  width: 500px;
}

#right {
  display: inline-block;
}*/
