* {
  border: 1px solid red;
}

body {
   background-color: #dfe1ea;
/*  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBHfu4ojsjbGXStB22gAdHuDRRtobAAmTJ6X9oTD-YboilQoFZ');*/
  background-size: 90%;
  margin: auto;
  width: 960px;
  padding: 0px;
  font-family: 'Aldrich', sans-serif;
  /*background-color: white; */


.container{
  width: 960px;
  margin: auto;
  background-color: red;
  padding: 3em;
  border-radius: 0%;
  background-color: red;
}


.header1{
  font-size: 35px;
  text-align: center;
}

#left {
  display: inline-block;
  width: 500px;
}

#right {
  display: inline-block;
}
