<h1>Magic 8 Ball Question</h1>

<form action="/magic/answer">
  <label>Quesion:</label>
  <input type="text" name"question" required placeholder="What do you want to know?">

  <button>Shake Ball</button>
  
</form>
