body {
  background: #d4dabf;

  h1 {
    text-align: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

  .flex-1 {
    margin-bottom: 3em;
  }
}

#images {
  text-align: center;
}
