<h1>New Director</h1>

<form action="/directors" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Director name" required autofocus>
  <label>Family:</label>
  <input type="text" name="film" placeholder="Film name" required>

  <button>Create</button>
</form>
