<h1><%= @director['name'] %></h1>
<h2>Film: <%= @director['film'] %></h2>

<div class="controls">
  <a href="/directors/<%= @director['id'] %>/edit">Edit</a>
  <a href="/directors/<%= @director['id'] %>/delete">Delete</a>
</div>
