/* //////////
///////
grid was shipped by Microsoft Edge in October 2017, but now all major browsers support it
//css grid vs css flexbox
//////
 */

/* .container {
  max-width: 960px;
} */

.wrapper {
  display: grid;
  max-width: 960px;
  /* do not specify rows since they are implicit */
  /* grid-template-rows: 2fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  /* gap both between rows and also columns that is 1px wide */
  grid-gap: 1px;
}

.itemA {
  background-color: paleGreen;
  border: 2px solid black;
  grid-row-start: 2;
  grid-row-end: 4;
}

.itemB {
  background-color: khaki;
  border: 2px solid black;
}

.itemC {
  grid-column: 2/4;
  background-color: hotpink;
  border: 2px solid black;
}

.itemD {
  background-color: MediumTurquoise;
  border: 2px solid black;
}

.itemE {
  background-color: peru;
  border: 2px solid black;
}

.itemF {
  background-color: papayaWhip;
  border: 2px solid black;
}

.itemG {
  background-color: crimson;
  border: 2px solid black;
  /* grid-column-start: 2;
  grid-column-end: 5; */
}

.itemH {
  background-color: darkOrchid;
  border: 2px solid black;
}

.itemI {
  background-color: fuchsia;
  border: 2px solid black;
}

.itemJ {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: gold;
  border: 2px solid black;
}

.itemK {
  background-color: lavender;
  border: 2px solid black;
}

.itemL {
  background-color: oliveDrab;
  border: 2px solid black;
}