<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSS Layout Demo</title>
    <link rel="stylesheet" href="css/layout.css">
  </head>

  <body>
    <div class="container">

      <header>
        <nav>
          <a href="#">Home</a>
          <a href="#">FAQ</a>
          <a href="#">Contact</a>
        </nav>

        <h1>TITLE</h1>
      </header>

      <main>
        <h2>Content Goes Here</h2>
        <img src="http://fillmurray.com/400/601" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint at eveniet itaque omnis nostrum quod sunt officia mollitia odit debitis ea veritatis temporibus dolores iusto harum recusandae, eaque doloremque sit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore doloremque veritatis voluptate quis, tenetur ipsa nulla culpa temporibus, tempora iste rem voluptatem atque quam beatae, numquam neque accusamus ratione nam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui veniam facilis doloribus molestias, unde veritatis maxime ipsa laboriosam repudiandae, harum reprehenderit deserunt minima nostrum amet modi tempora quibusdam, dolorem delectus.</p>
      </main>

      <aside>
        <h3>Fun Facts</h3>
        <ul>
          <li>Groucho</li>
          <li>Harpo</li>
          <li>Chico</li>
          <li>Zeppo</li>
        </ul>
      </aside>

    </div>
  </body>
</html>
