<h1 class="homeh1">Games on Rails</h1>

<div class="container">

  <div class="eight_ball_home">
    <a href="/eightball">Ask the &#x1F3B1;</a>
  </div>

  <div class="secret_number">
    <a href="/secretnumber">Guess the Secret Number</a>
  </div>

  <div class="scissors_paper_rock">
    <a href="/scissors">Play Scissors Paper Rock</a>
  </div>
</div> <!--end of div container-->
