<p><%=@secret_number%></p>
 <% if @guessed_number == @secret_number %>
       <p>You guessed it right!</p>
    <%else%>
      <p>Nope not that number!</p>
      <a href="/secretnumber">Play again!</a>
  <% end %>
