@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
/*HOMETOWN CSS */
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}


header h1, i {
  color: #CF4B35;
  font-size: 70px;
}

header h1 {
  font-size: 7em;
  padding: 0.3em 0 0 0;
  margin: 0;
  text-align: center;
}

header i {
  color: #CF4B35;
  font-size: 70px;
  display:inline-block;
  text-align: center;
  padding-left: 6.2em;
  margin-top: 0.3em;
  margin-bottom: 0.7em;
}

.container {
  max-width: 960px;
  margin: auto;
  background-color: white;
  padding: 1em;
}

nav {
  text-align: right;
  padding: 0;
  margin: 1em;
}

nav a {
  color: #CF4B35;
  text-decoration: none;
  padding: 1em;
}

nav a:hover {
  transition: 1.5s;
  color: #B53C37;
}
aside h3 {
  color: white;
}
.aside {
  color: white;
}

main h2{
  color: #CF4B35;
}
.main p {
  color: #CF4B35;
}
main {
  display: inline-block;
  width: 70%;
  color: #CF4B35;
}

aside {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 1em;
  background-color: #CF4B35;
  border-radius: 0.5em;
  text-align: center;
}



/* ul {
  list-style: none;
  margin: 0;
} */
