@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
/*MAIN CSS */
body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

header h1, i {
  color: #CF4B35;
  font-size: 70px;
}

header h1 {
  font-size: 7em;
  padding: 0.3em 0 0 0;
  margin: 0;
  text-align: center;
}

header i {
  display:inline-block;
  text-align: center;
  padding-left: 6.2em;
  margin-top: 0.3em;
  margin-bottom: 1.3em;
}

.container {
  max-width: 960px;
  margin: auto;
  background-color: white;
  padding: 1em;
}

nav {
  text-align: right;
  padding: 0;
}

nav a {
  color: #CF4B35;
  text-decoration: none;
  padding: 1em;

}

.box {
  color: white;
  display: inline-block;
  background-color: #CF4B35;
  margin: -1em;
}

.box i {
  color:white;
  font-size: 3em;
}

.biography {
  display: inline-block;
  width: 31%;
  padding: 0.5em;
  text-align: center;
  vertical-align: top;
}
.hometown {
  display: inline-block;
  width: 31%;
  padding: 0.5em;
  text-align: center;
  vertical-align: top;
}
.media {
  display: inline-block;
  width: 31%;
  padding: 0.5em;
  text-align: center;
  vertical-align: top;
}

.box i:hover {
  color: #B53C37;
  transition: 1.5s;
}

.biography:hover {
  color: #B53C37;
  transition: 1.5s;
}
.hometown:hover {
  color: #B53C37;
  transition: 1.5s;
}

.media:hover {
  color: #B53C37;
  transition: 1.5s;
}

nav a:hover {
  transition: 1.5s;
  color: #B53C37;
}

p a {
  color: #B0AEAE;
  text-decoration: none;
}

/* footer p {
  max-width: 960px;
  display: inline-block;
  /* margin-left: 20em; */
  /* margin-right: 13.7em; */
}

/* .ga {
  margin-right:10em;
} */
