@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
  background-color: #0E0B16;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
}

h1 {
  background-color: #A239CA;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  text-align: right;
}

nav a {
  color: white;
  background-color: #A239CA;
}

.feature {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  color: white;
}

a:hover {
  background-color: yellow;
  color: black;
}

.purpleblock {
  background-color: #4717F6;
}
