<h1>New Cover</h1>

<form action="/covers" method="post">
  <label>Artist:</label>
  <input type="text" name="artist" placeholder="Artist name" required autofocus>
  <label>Album:</label>
  <input type="text" name="album" placeholder="Album name" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <button>Create</button>
</form>
