<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cheese and Wine pairing</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href='/'> Home</a>
        <a href="/wines">99 bottles of wine on the wall</a>
        <a href="/wines/new">New Wine</a>
        |
        <a href="/cheeses">All Cheeses</a>
        <a href="/cheeses/new">New Cheeses</a>
      </nav>

      <%= yield %>

    </div>

  </body>
</html>
