<h2>Select Your move:</h2>

<form  action="/rps/throw" method="get">
  <select  name="roll">
    <option value="Rock">Rock</option>
    <option value="Paper">Paper</option>
    <option value="Scissors">Scissors</option>
  </select>
  <button>Play</button>
</form>
