body {
  background-color: #aaa;
  background-image: url(../css/nature-parrot-1.jpg);
  background-size:100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  text-align: right;
}

nav a {
  color: white;
}

.feature {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

input {
  background-color: orange;
}
