<h1>CREATE NEW BRAND</h1>

<form class="" action="/brands" method="post">

<label >Name</label>
<input type="text" name="name" >

<label >Logo</label>
<input type="text" name="logo" >

<label >Notes</label>
<input type="text" name="notes" >


<button>Create</button>

</form>
