
  <div class='section'>
  	<img class="bottom" src="/images/headphone2.jpg">
  	<img class="top" src="/images/headset1.jpg">
  </div>

  <div class="container1">

    <% @brands.each do |brands|%>
      <div class="box">
        <a href="/brands/<%= brands['id']%>"><img src="<%= brands['logo']%>"></a>
      </div>
    <% end %>
  </div>
