<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="http://pngimg.com/uploads/headphones/headphones_PNG7645.png">
    <meta charset="utf-8">
    <title>Earphones</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

  </head>
  <body>

    <div class="title">
      <h1 id='main_title'><span>Q</span>uality Sounds</h1>
      <img src="/images/headset.png" id='headphonesimg'>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/earphones">All Earphones</a>
        </li>

        <li>
          <a href="/brands">Brand List</a>
        </li>

        <div class="dropdown">
          <button class="dropbtn">Create New <i class="fas fa-bars"></i></button>
          <div class="dropdown-content">
            <a href="/brands/new">Brand</a>
            <a href="/earphones/new">Earphone</a>
          </div>
        </div>
      </ul>

    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <p>©Copyright 2018 MC Hammer All Rights Reserved</p>
    </footer>
  </body>
</html>
