<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Students</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/students">All Students</a>
        <a href="/students/new">New Students</a>
      </nav>
      <a href="https://www.tripadvisor.com.au/LocationPhotoDirectLink-g255060-d4102830-i74526174-University_of_Sydney-Sydney_New_South_Wales.html#74526174"><img alt="" src="https://media-cdn.tripadvisor.com/media/photo-s/04/71/2d/de/university-of-sydney.jpg"/></a><br/>
      <%= yield %>
    </div>

  </body>
</html>
