<h1>All Authors</h1>

<% @authors.each do |author| %>
<h2><%= link_to author.name, author %></h2>
  <ul>

    <li>Born :<%= author.born %></li>
    <li>quote :<%= author.quote %></li>
    <li><%= author.funfact %></li>
  </ul>
<% end %>
