nav {
	width: 100%;
  margin: 0;
  padding: 0;
	display: block;

	height: 50px;
  background-color: black
}
ul {
  margin: 0px;
}

.homebox {
  width: 100%;
}

  .homebox1 {
    display: inline-block;
    width: 30%;
    margin-right: 20px;
  }
  .homebox2 {
    display: inline-block;
    width: 30%;

  }
  .homebox3 {
    display: inline-block;
    width: 30%;
    margin-left: 20px;
  }
  .homepic {
    width: 100%;
    border: solid #d3d3d394 5px;

  }

  h4 {
    margin: 0px;
    color: lightblue;
    font-size: 14px;
  }

  .homebox p {
    margin-bottom:  4px;
  }
.left {
  margin-left: 7%;
}
.indent p {
  margin: auto;
}

	nav ul li {
		float: left;
		display: inline;
    width: 80px;
    padding-top: 13px;

    text-align: center;
    font-size: 14px;


    color: white;


	}
  nav ul li:hover {
    border-top: solid #4dc2f9 2px;
    background: linear-gradient( #4dc2f96b, #4dc2f905)
  }

  body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    background: linear-gradient(180deg, #e4e4e4 50%, #FFFFFF 40%);
    margin-bottom: 20px;
  }

.indent {
  border-style: inset;
  border-width: 2px;
  border-color: #d3d3d342;
  margin-top: 40px;
  padding: 10px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.quote {
  display: inline-block;

  width: 20%;


}
.indent p {
  display: inline-block;
  width: 75%;
  line-height: 1.7;
  font-size: 14px;
}
 p {
   font-size: 10px;
 }

.container {
  width: 80%;
  margin: auto;
}
header {
  margin: auto;
  width: 80%;
}

.mainpicdiv {
  width: 100%;
  margin: auto;

}
.mainpic {
  width: 100%;
  height: 100%;
  box-shadow: 0 20px 21px -2px gray;
}

h2 {
  color: darkgrey;
  font-weight: 100;
}


#socialMedia {
	float: right;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;
	 text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}



#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}
