<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Concert+One|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Aww App</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <nav class="mb-3 navbar fixed-top navbar-expand-lg text-white navbar-dark" style="background-color: #FF1493;">
  <a class="navbar-brand" style="font-family: 'Concert One', cursive;" href="/awws"><i class="fa fa-heart" aria-hidden="true"></i> AwwApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="/awws"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="/awws/new"><i class="fa fa-plus-square" aria-hidden="true"></i> New Post</a>
      </li>
    </ul>
  </div>
</nav>

    <%= yield %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="fixed-bottom card bg-success ml-auto " style="max-width: 18rem;">
        <div class="card-body text-white">
          <p class="card-text "><span style="font-family: 'Concert One', cursive;">Aww App</span> was designed and coded by Sonia Parker, inspired by Colt Steele's WebDevCamp course on Udemy.</p>
        </div>
        <div class="card-footer bg-success text-white">&copy; Sonia Parker, 2018</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
