body {
  padding: 0;
  margin: 0;
  background: #888;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:red;
}

.container {
  display: grid;
  grid-template-rows: 3em auto 3em;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

header {
  background: #000000;
  padding: .5em;
  vertical-align: middle;
}

main {
  padding: .5em;
}

main ul {
  list-style: none;
  padding: 0;
}

footer {
  padding: .5em;
  background: #ff0000;
}

.rps {
  display: inline-block;
  width: 10em;
  height: 12em;
  background: url('/assets/rps.png');
  background-size: 300% 220%;
  border-radius: .125em;
  box-shadow: .125em .125em .125em rgba(0,0,0,.25);
  color: black;
}


.rock {
  background-position: 0.1em -7em;
}

.paper {
  background-position: 11em -7em;
}

.scissors {
  background-position: 20.6em -7em;
}