<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Search</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">

    <%= yield %>

  </div>
  </body>
</html>
