/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/


#container {
  margin-left: 10%;
  margin-right: 20%;
  max-width: 966px;
}

p {
  width: inherit;
}

/* .press {
  width: auto;
} */

.homeImage {
  width: 100%
}

.pressimage {
  border: 4px #656565 solid;
  width : 23%;
}

body {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  Color: #656565;
}

h1  {
  font-size: 40px;
  margin-bottom: 2.5%;
  margin-top: 5%;
}

span {
  color: blue;
}
