<h1>Magic 8 Ball</h1>

<!-- Magic 8 ball takes user's questions from the the URL as params and returns a positive or negative answer. -->


<div class="questions">
  <h1>Ask me Anything...</h1>
<form action="/ball/result">
  <label>Question</label>
  <input type="text" name ="question" placeholder: "Ask me anything"required autofocus>
  <button>Ask</button>
</form>
</div>
