/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

#container {
  width: 950px;
  margin: 0 auto;
}

body {
  font-size:12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
}

h1 {
  font-size: 35px;
  color: #a6abb2
}

a {
  text-decoration: none;
  color: #6994db;
}

a:hover {
  color: #20222a;
}

.outlineimages img {
  padding: 5px;
  background-color: #a6abb2;


}
