<div class="lists">


<a href="/add/list">Make a new Movie List</a>

<ul>

<% @lists.each do |list| %>
<li>
<%= list["name"]%>

<div class="controls">
<form class="button" action="/list/view/<%= list["id"]%>" method="get">
  <button type="submit" >View</button>
</form>
<form class="button" action="/list/edit/<%= list["id"]%>" method="post">
  <button type="submit" >Edit</button>
</form>
<form class="button" action="/list/delete/<%= list["id"]%>" method="post">
  <button type="submit" >Delete</button>
</form>

</div>

</li>
<% end%>
</ul>
</div>
