<form class="new_entry" action="/lists/new" method="post">

  <label>List Name: </label>
  <input type="text" name="name" placeholder="e.g. Best of 80s">
  <label>Description: </label>
  <input type="text" name="comment" placeholder="e.g. My Favorite movies from the 80s" size="100">

  <button type="submit" >Add</button>


</form>
