<form class="new_entry" action="/movies/new" method="post">

  <label>Movie Name: </label>
  <input type="text" name="name" placeholder="e.g. Jaws">
  <label>Release year: </label>
  <input type="number" name="year" placeholder="e.g. 1989">
  <label>Director: </label>
  <input type="text" name="director" placeholder="e.g. Steven Speilberg">
  <label>Movie cast: </label>
  <input type="text" name="Cast" placeholder="e.g. Bill Murray, Charlize Theron">
  <label>Thumbnail: </label>
  <input type="text" name="thumbnail" placeholder="e.g. http://...">

  <button type="submit" >Add</button>

</form>
