<h1>Secret Number Game</h1>

<form class="" action="/secretn/answer" >
  <label>Try to guess the NUmber:</label>
  <input type="text" name="name" placeholder="Try guess the number" required autofocus>
<button>Create</button>
