body {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}

.container {
  display: grid;
  grid-template-rows: 3em auto 10em;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: orange;
}

footer {
  background-color: royalblue
}

.code {
  background-color: #DDD;
  border: 1px solid darkgrey;
  border-radius: 3px;
  padding: 1em;
}

.card {
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-shadow: 1px 1px rgba(0,0,0,.25);
  min-width: 40vw;
  padding: 2em;
  margin: .5em;
}