<h1>New Book</h1>

<form action="/books" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Harry Potter" required autofocus>
  <label>Cover:</label>
  <input type="url" name="cover" placeholder="http://..." required>

<button>Submit</button>
</form>
