<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Books Galore</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Books Galore</h1>

      <nav>
        <a href="/">Home</a>
        <a href="/books">All Books</a>
        <a href="/books/new">New Book</a>
        |
        
        <a href="/authors">All Authors</a>
        <a href="/authors/new">New Author</a>
      </nav>


      <%= yield %>

  </body>
</html>
