<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Places</title>
  </head>
  <body>

    <div class="container">



          <nav>
            <a href="/">Home</a>
            <a href="/places">All Places</a>
            <a href="/places/new">New Place</a>
          </nav>



          <%= yield %>
    </div>



  </body>
</html>
