<h1>New Place</h1>

<form action="/places" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Place Name" required autofocus>
  <label>Location</label>
  <input type="text" name="location" placeholder="Location" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <button>Create</button>
</form>
