<div class="title"><h1>Welcome to the ugliest catalogue of Minerals and Rocks</h1></div>

<div class="content">
  <p>Please feel free to contribute to enrich the library</p>
</div>
<div class="feature"> <%= image_tag("mineral.jpg", :alt => "mineral") %></div>
