<div class="title">
  <h1>Minerals and Rocks Index</h1>
</div>

<% @rocks.each do |rock| %>
  <div class="content">
    <p>
      <%= link_to rock.name, rock_path(rock.id) %>
    </p>
  </div>
<% end %>
