<div class="title"><h1>New Rock</h1></div>

<form action="<%= rocks_path %>" method="post">
  <label>Name:</label>
  <input type="text" name="name" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="https://..." required>
  <label>Colour:</label>
  <input type="text" name="colour">
  <label>Density:</label>
  <input type="number" name="density" step=any>
  <label>Composition:</label>
  <input type="number" name="composition" step=any>
  <label>Locality:</label>
  <input type="text" name="locality">
  <button>Add Rock</button>
</form>
