<h1>&#x1F3B1; Ask the Magic 8 Ball &#x1F3B1; </h1>

<div class="eightballform">
  <form action="/eightball/result">
    <label>Ask me Anything</label>
    <input type="text" name="question" required placeholder="Question">
    <button>Ask Away</button>

  </form>
</div>
