<h1 class='resultsh1'>&#x1F3B1; The Magic 8 Ball says: &#x1F3B1;</h1>

<p class="youasked">
  You asked: "<%= "#{params[:question]}?"%>"
</p>
<p class="eightballresults">
  The 8 Ball says: <strong><%=@ballsays%></strong>
</p>

<p class="eightballemoji">
  &#x1F3B1;
</p>
