<h1>Submit a New Error Meaning</h1>
<form action="/err_meaning/<%= @err_meaning.id %>" method="post">
  <label>Error Meaning:</label>
  <input type="text" name="meaning" value="<%= @err_meaning.meaning %>"/><br />

  <label>Error Example:</label>
  <input type="text" name="example" value="<%= @err_meaning.example %>"/>

  <button>Submit</button>
</form>