<h1>All err_meaning</h1>

<% unless @err_meaning.nil? %>
<%   @err_meaning.each do |meaning| %>
<div class="card">
  <a href="err_meaning/<%= meaning.id %>"><%= meaning.meaning %></a>
</div>

<%   end %>
<% end %>