<h1>Submit a New Error Meaning</h1>
<form action="/err_meaning/new" method="post">
  <label>Error Meaning:</label>
  <input type="text" name="meaning" /><br />

  <label>Error Example:</label>
  <input type="text" name="example" />

  <button>Submit</button>
</form>