<h1>Submit a New Error</h1>
<form action="/errors/new" method="post">
  <label>Error Name:</label>
  <input type="text" name="name" /><br />

  <label>Error Message:</label>
  <input type="text" name="error_msg" />
  <br />
  <select name="err_meaning_id">
    <option></option>
    <% ErrMeaning.all.each do |err_meaning| %>
      <option value="<%= err_meaning.id %>"><%= err_meaning.meaning %></option>
    <% end %>
  </select>

  <button>Submit</button>
</form>