<h1>All Errors</h1>

<% unless @errors.nil? %>
<%   @errors.each do |err| %>
<div class="card">
  <a href="errors/<%= err.id %>"><%= err.name %></a>
  <p>Possible Solution: <%= !err.err_meaning.nil? %></p>
</div>

<%   end %>
<% end %>