<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=980, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ruby Error Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <div class="errors">
          <a href="/errors">View Errors</a>
          <a href="/errors/new">Add Error</a>
        </div>
        <div class="meanings">
          <a href="/err_meaning">View Error Meanings</a>
          <a href="/err_meaning/new">Add Error Meaning</a>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>    
    </main>
    <footer
    
    ></footer>
  </div>
</body>
</html>