body {
  background-color: yellow;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  text-align: right;
}

nav a {
  color: black;
}

.feature {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
