<h2>Guess a number between 1 and 10</h2>

<form action="/guess/info">
  <label>Question:</label>
  <input type="number" name="number" required placeholder="(1-10)">
  <button>Guess it</button>
</form>
