<h1>Ask a Question for your magical answer</h1>

<form action="/magic/info">
  <label>Question:</label>
  <input type="text" name="question" required placeholder="Am i beautiful?">
  <button>Get answer</button>
</form>
