<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Football</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/player/new">New Player</a>
        |
        <a href="/clubs">Clubs</a>
        <a href="/club/new">New Club</a>
      </nav>
      <%= yield %>
    </div>

  </body>
</html>
