<h1>New Player</h1>

<form action="/players" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Player name" required autofocus>
  <label>Country:</label>
  <input type="text" name="country" placeholder="Player country" required>
  <label>Position:</label>
  <input type="text" name="position" placeholder="Player position" required>
  <label>Age:</label>
  <input type="number" name="age" placeholder="Player age" required>

  <label>Club:</label>
  <select name="club_id">
    <option></option>
    <% Club.all.each do |club| %>
      <option value="<%= club.id %>"><%= club.name %></option>
    <% end %>
  </select>

  <button>Create</button>
</form>
