/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;

}

#container {
  width: 960px;
   margin: auto;
}

.title {
font-size: 38px;
font-weight: 550;
color: #ACACB4;
letter-spacing: 0.9px;

}

h2, p {
  color: #656565;
  letter-spacing: 0.9px;
}

h2 {
  font-weight: 600;
}

p {
  font-weight: 100;
  max-width: 960px;
}

a {
  text-decoration: none;
  color: #499BD6;
}

a:hover {
  color: #20222a
}

/* .box {
display: inline-block;
  border: 5px solid #ACACB4;
}*/

wrapper {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.press-img {
  border: 5px solid #ACACB4;
}
