<h1>Hiking Trails That Will Blow Your Mind</h1>

<% @mountains.each do |mountain| %>
<p>
Name : <%= button_to mountain.name, mountain_path(mountain.id), :method => 'get' %>

Distance : <%= mountain.distance %>

Country : <%= mountain.country %>


</p>

<% end %>
