<h1>New Hiking Trial</h1>

<form action="<%= mountains_path %>" method="post">
  <label>Name :</label>
  <input type="text" name="name" required>
</br>
  <label>Height :</label>
  <input type="integer" name="height">
</br>
  <label>Distance</label>
  <input type="integer" name="distance">
</br>
  <label>Country</label>
  <input type="text" name="country">
</br>
  <label>Image</label>
  <input type="url" name="image">
</br>
  <button>Create New Trial</button>


</form>
