<h1>New Hiking Trial</h1>

<form action="<%= mountains_path %>" method="post">
  <label>Name :</label>
  <input type="text" name="name" placeholder="Trial Name" required>
</br>
  <label>Height :</label>
  <input type="integer" name="height" placeholder="feet">
</br>
  <label>Distance</label>
  <input type="integer" name="distance" placeholder="miles">
</br>
  <label>Country</label>
  <input type="text" name="country" placeholder="Country Name">
</br>
  <label>Image</label>
  <input type="url" name="image" placeholder="http://...">
</br>
  <button>Create New Trial</button>


</form>
