<h1>Welcome to 8 ball!</h1>

<form action="/magic_ball/answers">
	<input class="user_input" type="text" name="answers" placeholder="What is your question?" autofocus>
	<input type="submit" value="Submit">
</form>
