<h1>Games on Rails</h1>

<h2>Games : </h2>

<ul>
  <li><a href="/magic8">Magic 8 Ball</a></li>
  <li><a href="/secretnumber">Secret Number</a></li>
  <li><a href="/rps">Rock Paper Scissors</a></li>
</ul>
