<h1>Magic 8 Ball</h1>

<form action="/magicball/info">
  <label>What is your question?</label>
  <input type="text" name="question" required placeholder="Am I attractive">
  <button>Find Answer</button>
</form>
