<!--this is where you add all your HTML for your broswer page-->

<div class='indexcontainer'>

<h1>All Mountains</h1>

<% @mountains.each do |mountain| %>
<p>
  <%= link_to mountain.name, mountain_path(mountain.id) %> is <%= mountain.height%> meters tall.
</p>
<% end %>

</div>
