<h1>New Mountain</h1>

<form action="<%= mountains_path %>" method="post">

  <label>Name:</label>
  <input type="text" name="name" required autofocus placeholder="Mountain Name" />

  <label>Height:</label>
  <input type="float" name="height" required placeholder="Height in Meters">

  <label>Is it Volcanic?</label>
  <input type="boolean" name="volcanic" placeholder="">

  <label>Image:</label>
  <input type="url" name="image" placeholder="https://...">

  <button>Create Mountain</button>
</form>
