@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
body {
  text-align: center;
  background-color: #d0d19f;
  color: #3fb4cd;
  font-family: 'Catamaran', sans-serif;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 4vw;
}

.container {
  max-width: 960px;
  margin: auto;
}

.title {
  width: 300px;
}

footer {
  margin-top: 10em;
  font-size: .9vw;
}

input {
  width: 9em;
  height: 4em;
  font-size: .8vw;
  text-align: center;
  border-radius: 10px;
}

button {
  margin: 5px auto;
  width: 9em;
  height: 5em;
  font-size: .7vw;
  background-color: #f99563;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

a:visited {
    color: #f99563;
}
