* {
  border: 1px solid red;
}

body {
  font-family: Helvetica;
  width: 1000px;
  margin: auto;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.box {
  height: 300px;
  width: 300px;
  padding: 5px;
}

button {
  padding: 10px;
}

.header {
  padding: 20px;
}
