<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Google Sock Quote</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>

    <h1>Google stock Quote</h1>

    <!--Before Yield !-->
    <%= yield %>
    <!--After Yield !-->

    <footer>
      &copy; Copyright 2019 ALL RIGHTS RESERVED
    </footer>

  </body>
</html>
