<h1>Edit Doggo</h1>
<form  action="/dogs_list/<%= @dog['id']%>" method="post">
  <label>Breed:</label>
  <input type="text" name="breed" value="<%= @dog['breed']%>" placeholder="Breed" required autofocus>
  <label> Ranking:</label>
  <input type="number" name="ranking" value="<%= @dog['ranking']%>" placeholder="(0-10)"  required>
  <label>Image : </label>
  <input type="url" name="image" value="<%= @dog['image']%>" placeholder="http://...">
  <button>Update</button>
</form>
