<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doggo Life</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <h1>Doggo Life</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/dogs_list">List of Dogs</a>
        <a href="/dogs_list/new">Add Dog</a>
      </nav>
      <%= yield %>

    </div>

  </body>
</html>
