<h1>Add New Eminem Album</h1>

<form action="/albums" method="post">
  <label>Title:</label>
  <input type="text" name="title" placeholder="Album name" required autofocus>
  <label>Release Year:</label>
  <input type="text" name="release_year" placeholder="Release Year name" required>
  <!-- <label>Image:</label>
  <input type="url" name="image" placeholder="http://..."> -->

  <button>Create</button>
</form>
