<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Eminem Database</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/albums">All Eminem Albums</a>
        <a href="/albums/new">New Eminem Album</a>
      </nav>
      <%= yield %>
    </div>

  </body>
</html>
