body {
  background: url('https://img00.deviantart.net/378b/i/2013/015/b/2/canterlot_curio_shop_alley_by_cloudshadezer0-d5rmr9c.png')  no-repeat center center fixed;
  background-size: cover;
}

.moveright {
  bottom: 15vh;
  /* image-orientation: flip */
}

.container {
  width: 100%;
}

.moveleft {
  bottom: 15vh;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  min-width: 400px;
}

.buttons button {
  margin: auto 2vw;
  background-color: lightgrey;
}

.buttons button.active {
  background-color: orange;
}

.pawprintright {
  position: absolute;
  background-image: url('../res/dog-paw.svg');
  transform: rotate(98deg) rotateX(25deg) rotateY(72deg);
  width: 20px;
  height: 20px;
  z-index: -1;
}

.pawprintleft {
  position: absolute;
  background-image: url('../res/dog-paw.svg');
  transform: rotate(-98deg) rotateX(-25deg) rotateY(72deg);
  width: 20px;
  height: 20px;
  z-index: -1;
}
